.hero{
    position:relative;
}

.banner-img{
    /* position: absolute; */
    width:100%;
    mask-image: linear-gradient(to right , transparent,black 105%);
    -webkit-mask-image: linear-gradient(to right,transparent,black 75%);
    
} 

.hero-caption{
    position:absolute;
    bottom:0%;
    padding-left:6%;
    margin-bottom: 50px;
     width: 100vw; 
}

.caption-img{
    max-width:70%;
    margin-bottom:2%
    
}

.hero-caption p{
    max-width:700px;
    font-size:17px;
    margin-bottom:20px;
}

.hero_btn{
    display:flex;
    margin-bottom:20px;
    gap:10px;
    
    
}

.hero_btn img{
   width:25px;
   
}

.hero_btn .btn{
    border:0px;
    margin-left:10px;
    display: inline-flex;
    align-items:center;
    padding:10px;
    justify-content: center;
    outline:0px;
    background: white;
    font-size:15px;
    font-weight:600;
    border-radius: 5px;
    }

.hero_btn .btn.barkbtn{

background-color: rgba(252, 247, 247, 0.2);
color:white;
}

.hero_btn .btn.barkbtn:hover{

background-color: rgba(100, 100, 100, 0.2);
color:white;
}

.hero_btn .btn:hover{


background-color: rgba(215, 203, 203, 0.6);

}

.more-content{

    padding-left:6%;
    /* padding-right: ; */
}